.bg-custom-color {
    background-color: #DEDEDE;
}

.nav-custom-color {
    background-color: #333333;
}

.dimensions {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pagination .page-link {
    color: #333333;
    border-color: #000000;
}

.pagination .page-item.active .page-link {
    background-color: #333333;
    border-color: #333333;
}

.pagination .page-item:not(.active) .page-link {
    background-color: #DEDEDE;
    border-color: #000000;
}

