.bg-custom-color {
    background-color: #DEDEDE;
}

.nav-custom-color {
    background-color: #333333;
}

.dimensions {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pagination .page-link {
    color: dodgerblue;
    border-color: #000000;
}

.pagination .page-item.active .page-link {
    background-color: black;
    color: white;
    border-color: #333333;
}

.pagination .page-item:not(.active) .page-link {
    background-color: #DEDEDE;
    border-color: #000000;
}

.navbar-container {
    position: relative;
}

.dropdown-menu {
    overflow-y: auto;
}

#map {
    height: 360px;
}

.hide {
    display: none;
}

#loadMapButton {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 0;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: 4px 0;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.4s;
    width: 100%;
}

#loadMapButton:hover {
    background-color: #45a049;
}

.delivery-point {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.delivery-point-header {
    background-color: #343a40;
    color: #fff;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delivery-point-header h5 {
    margin: 0;
}

.delivery-point-header .status {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #28a745;
}

.delivery-point-body {
    padding: 15px;
}

.delivery-photo {
    margin-top: 15px;
    text-align: center;
}

.leaflet-popup-content-wrapper {
    min-width: 140px;
}

